@model BookViewModel
<label asp-for="@Model.Author"></label> : @Model.Author
<br />
<label asp-for="@Model.Title"></label> : @Model.Title
<br />
<label asp-for="@Model.Status"></label> : @Model.Status
<br />
<hr />