@model MediaViewModel
<label asp-for="@Model.Author"></label> : @Model.Author
<br />
<label asp-for="@Model.Title"></label> : @Model.Title
<br />
<label asp-for="@Model.Status"></label> : @Model.Status
<br />
<label asp-for="@Model.Category"></label> : @Model.Category
<br />
<hr />