@model BookViewModel
<form asp-action="Index" asp-controller="Book">
    <h4>Add book</h4>
    <hr />
    <input asp-for="@Model.Id" type="hidden" />
    <br />
    <label asp-for="@Model.Title"></label>
    <input asp-for="@Model.Title" />
    <br />
    <label asp-for="@Model.Author"></label>
    <input asp-for="@Model.Author" />
    <br />
    <label asp-for="@Model.Status"></label>
    <select asp-for="@Model.Status">
        <option selected="selected" value="Planned">Planned</option>
        <option value="Reading">Currently reading</option>
        <option value="Read">Finished</option>
    </select>
    <br />
    <button type="submit">Save</button>
</form>